<header>
    <div class="logo-title"><a href="https://github.com/Romain300/">
        <img class="logo" src="/github-brands-solid.svg" alt="link author github"></a>
        <h2>Game management App</h2>
    </div>
    <nav>
        <ul>
            <li><a href="/">Games</a></li>
            <li><a href="/addGame">Add Games</a></li>
            <li><a>Add Genre</a></li>
        </ul>
    </nav>
</header>