* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #222;
}
.logo {
    width: 4rem;
    height: auto;
}
header {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.cards-games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}

.cards-genres {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
}

.game {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    gap: 1rem;
    max-width: 400px;
    transition: all 300ms ease-in-out;
    will-change: auto;
}

.game:hover {
    transform: scale(1.1);
}

.game-informations {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.option-game {
    display: flex;
    gap: 0.5rem;
}

.modify {
    background-color: #007bff;
}

.submit {
    background-color: #222;
    color: #fff;
}

.delete {
    background-color: #dc3545;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav {
    background-color: #e6f0ff; 
    color: #222;
    width: 100%;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
}


nav a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

.main-add-update-game {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
}

.form-add-update-game {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.input-div {
    display: flex;
    gap: 0.5rem;
}

label {
    flex: 1;
}

input, select {
    flex: 2;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
}

input:hover, select:hover {
    border-color: #888;
}

input:focus, select:focus {
    border-color: #007BFF; 
}

.cover {
    font-size: 0.8rem;
    color: #6c757d;
}

select {
    background-color: white;
}

.genres {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    will-change: auto;
    display: flex;
    max-width: 10rem;
    justify-content: space-around;   
    align-items: center;
}

.genres:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.main-genres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.delete-img {
    height: 1rem;
    width: auto;
}


